body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    min-width: 320px;
}

.welcome {
    position: relative;
    background-image: url("../img/football_767.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    padding: 0 20px;
    min-height: 567px;
}

.welcome::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #0a0e34;
    opacity: 0.9;
}

.header-logo {
    position: relative;
    z-index: 2;

    display: block;
    block-size: border-box;
    text-align: center;
}

.logo-text {
    width: 136px;
    height: 38px;
    margin-top: 33px;
}

.welcome-title {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    margin-top: 135px;
  
}

.first-line {
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.second-line {
    margin: 30px 0 88px 44px;
        
    align-self: flex-end;
    font-size: 28px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.store-links {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 84px;
}

.apple-store, .google-store {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 35px;
    border-radius: 17px;
    background-color: #5e42b0;

    position: relative;
    z-index: 2;
}

.google-store {
    margin-top: 14px;
}

.apple-link, .google-link {
    text-decoration: none;
    display: flex;
    margin: auto;
    align-items: center;
}

.apple-icon, .google-icon {
    fill: #ffffff;
    width: 25px;
    height: 25px;
    margin: 0px;
    justify-content: center;
}

.apple-link-title, .google-link-title {
    display: flex;
    flex-direction: column;
    margin-left: 8px;   
}

.apple-link-title-download, .google-link-title-get  {
    font-size: 8px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
    text-transform: uppercase;
}

.apple-link-title-store, .google-link-title-play {
    font-size: 8px;
    letter-spacing: 0px;
    color: #ffffff;
    
    font-weight: 700;
    text-transform: uppercase;    
}

@media (min-width: 641px) {
    .welcome {
        background-image: url(../img/football_1280.jpg);
        min-height: 960px;
    }

    .logo-text {
        width: 205px;
        height: 57px;
        margin-top: 38px;
    }

    .welcome-title {
        margin-top: 180px;
        margin-bottom: 0;
    }

    .first-line  {
        font-size: 64px;
        letter-spacing: 3px;
    }

    .second-line {
        font-size: 64px;
        letter-spacing: 3px;
        margin-left: 106px;
        margin-bottom: 309px;
    }

    .store-links {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 90px;
    }

    .apple-store, .google-store {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        width: 311px;
        height: 77px;
        border-radius: 38px;
        filter: drop-shadow(8px 13.856px 12px #0a0e34);
        background-color: #5e42b0;
    }

    .google-store {
        margin-top: 0;
        margin-left: 30px;
    }

    .apple-icon, .google-icon {
        width: 50px;
        height: 50px;
        align-items: center;
    }

    .apple-link-title, .google-link-title {
        margin-left: 25px;   
    }

    .apple-link-title-download, .google-link-title-get  {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: 300;
    }
    
    .apple-link-title-store, .google-link-title-play {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px;
    }
    
}

@media (min-width: 961px) {
    .welcome {
        background-image: url(../img/football_1920.jpg);
    }

    .logo-text {
        width: 193px;
        height: 52px;
        margin-top: 44px;
    }

    .welcome-title {
        margin-top: 296px;
    }

    .store-links {
        margin-bottom: 110px;
    }

    .apple-link-title-download, .google-link-title-get  {
        font-weight: 400;
    }
}

@media (min-width: 1250px) {
    .first-line {
        font-size: 90px;
        letter-spacing: 5px;
    }

    .second-line {
        margin-bottom: 223px;
        font-size: 90px;
        letter-spacing: 5px;
    }
}


.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.athlets, .players {
    display: flex;
    flex-wrap: wrap;
}

.athlets {
    position: relative;
    min-width: 280px;
}

.athlets-img {
    position: absolute;

    content: "";
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
}

h2 {
    display: block;
    font-size: 50px;
    line-height: 60px;
    color: #e7e7e7;
    font-weight: 700;
    text-transform: uppercase;

    min-height: 305px;
    padding: 25px 20px 0;
    margin: 0;
}

h4 {
    display: block;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #c1c1c1;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 20px;
    margin-top: 0;
}

.number {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    margin-right: 8px;

    position: relative;
}

.number::after {
    content: "";
    position: absolute;
    display: block;
    top: 20px;
    width: 15px;
    height: 4px;
    border-radius: 1px;
    background-color: #5e42b0;
}

.number-athlets-growth {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin-right: 8px;

    position: relative;
}

.number-athlets-growth::after {
    content: "";
    position: absolute;
    display: block;
    top: 20px;
    width: 15px;
    height: 4px;
    border-radius: 1px;
    background-color: #000000;
}

.number-players-growth {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #8765dd;
    font-weight: 700;
    text-align: center;
    margin-right: 8px;

    position: relative;
}

.number-players-growth::after {
    content: "";
    position: absolute;
    display: block;
    top: 20px;
    width: 15px;
    height: 4px;
    border-radius: 1px;
    background-color: #ffffff;
}

.athlets-connection {
    min-height: 213px;
    background-color: #fafafa;
    padding-top: 83px;
}

.players-connection {
    min-height: 251px;
    background-color: #fafafa;
    padding-top: 85px;
}

.athlets-collaboration {
    min-height: 262px;
    background-color: #f5f4f9;
    padding-top: 56px;
}

.players-collaboration {
    min-height: 192px;
    background-color: #f5f4f9;
    padding-top: 60px;
}

.athlets-growth{
    min-height: 228px;
    background-color: #5e42b0;
    padding-top: 60px;
}

.players-growth {
    min-height: 189px;
    background-color: #090c35;
    padding-top: 55px;
}

p {
    display: block;
    min-width: 280px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    padding: 0 20px;
    margin-bottom: 0;
}

.athlets-growth-text, .players-growth-text {
    color: #ffffff;
}

.players {
    position: relative;
    min-width: 280px;
}

.players-img {
    position: absolute;

    content: "";
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 641px) {
    .athlets, .players {
        min-width: 700px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .athlets-img {
        top: 50px;
        left: -20%;
        transform: none;
    }

    h2 {
        font-size: 80px;
        min-height: 0px;
    }

    .athlets-title {
        padding: 85px 0 58px 40%;    
    }

    h4 {
        font-size: 32px;
        letter-spacing: 2px;
        margin-bottom: 0;    
    }

    .athlets-connection-title, .athlets-collaboration-title, .athlets-growth-title, .athlets-connection-text, .athlets-collaboration-text, .athlets-growth-text {
        padding-left: 40%;
    }

    .number, .number-athlets-growth, .number-players-growth{
        font-size: 18px;
    }

    .number::after, .number-athlets-growth::after, .number-players-growth::after {
        width: 19px;
        height: 5px;
        top: 27px;
        border-radius: 2px;
    }

    .athlets-connection {
        min-height: 140px;
        padding: 0 34px 0 0;
        background-color: #ffffff;
    }

    
    .players-connection {
        min-height: 168px;
        padding-top: 0;
        background-color: #ffffff;
        min-width: 445px;
    }

    .athlets-collaboration {
        min-height: 235px;
        padding-top: 36px;
        min-width: 445px;
    }

    .athlets-growth, .players-collaboration, .players-growth {
        min-height: 180px;
        padding-top: 40px;
        min-width: 445px;
    }

    .players-title {
        padding: 85px 32px 58px;
    }

    .players-connection-title, .players-collaboration-title, .players-growth-title {
        padding: 0 32px;
    }

    p {

        font-size: 16px;
        line-height: 28px;
    }

    .players-connection-text, .players-collaboration-text, .players-growth-text {
        padding: 0 32px;
        width: 443px;
    }

    .players-img {
        top: 50px;
        right: 0;
        transform: none;
    }
}

@media (min-width: 961px) {
    .athlets, .players {
        min-width: 717px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .athlets-img {
        top: 30px;
        left: 15%;
        transform: none;
        width: 35%;
    }
    
    .athlets-title {
        padding: 116px 0 100px 50%;
    }

    .athlets-connection-title, .athlets-collaboration-title, .athlets-growth-title {
        padding-left: 50%;

    }

    .athlets-connection {
        min-height: 136px;
        padding: 0;
    }

    .athlets-collaboration {
        min-height: 248px;
        padding-top: 60px;
        min-width: 717px;
    }

    .athlets-growth {
        min-height: 220px;
        padding-top: 55px;
        min-width: 717px;
    }

    .athlets-connection-text, .athlets-collaboration-text, .athlets-growth-text {
        padding-left: 50%;

    }

    .players-title {
        padding: 116px 20px 100px;
    }

    .players-connection {
        min-height: 160px;
        min-width: 717px;
    }

    .players-collaboration {
        min-width: 717px;
        min-height: 228px;
        padding-top: 54px;
    }

    .players-growth {
        min-width: 717px;
        min-height: 196px;
        padding-top: 58px;
    }

    .players-connection-title, .players-collaboration-title, .players-growth-title {
        padding: 0 20px;
    }

    p {
        font-size: 20px;
    }

    .players-connection-text, .players-collaboration-text, .players-growth-text {
        padding: 0 20px;
        width: 717px;
    }

    .players-img {
        top: 30px;
        right: 0;
        transform: none;
        width: 35%;     
    }
}


.be-active, .find-contact, .work-it {
    display: flex;
    flex-direction: column;
}

.be-active-img, .find-contact-img, .work-it-img {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #eff6f1;
    max-width: 100%;
}

.card-number {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #f5f6f7;
    font-weight: 700;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 20px;
    top: -30%;
    width: 70px;
    height: 70px;
    background-color: #5e42b0;
}

.card-number::after {
    content: "";

    width: 15px;
    height: 4px;
    border-radius: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 45px;
}


.be-active-card, .find-contact-card, .work-it-card {
    box-sizing: border-box;
    padding-left: 20px;
    min-width: 280px;
    position: relative;
}

h3 {
    display: block;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #e7e7e7;
    font-weight: 700;

    margin-top: 33px;
    margin-bottom: 22px;
}

.be-active-text, .find-contact-text, .work-it-text {
    display: block;
    box-sizing: content-box;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;

    margin-bottom: 25px;
    padding: 0;
    
}

@media (min-width: 641px) {
    .card-number {
        font-size: 24px;

        left: 24px;
    
        width: 116px;
        height: 116px;
    }
    
    .card-number::after {
        content: "";
    
        width: 25px;
        height: 5px;
        border-radius: 2px;
        position: absolute;
        top: 75px;
    }
    
    h3 {
        font-size: 80px;
        line-height: 60px;
        color: #c1c1c1;
    
        margin-top: 90px;
        margin-bottom: 36px;
    }
    
    .be-active-text, .find-contact-text, .work-it-text {
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        font-weight: 400;
    
        margin-bottom: 95px;
        min-width: 665px;
    }
}

@media (min-width: 961px) {
    .be-active, .find-contact, .work-it {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        min-height: 730px;
        min-width: 1530px;
        justify-content: stretch;

        position: relative;

    }

    .be-active-img, .find-contact-img, .work-it-img {
        justify-content: center;
        align-items: center;
        background-color: #eff6f1; 
        max-width: 100%;
        display: flex;
    }
    
    .card-number {
        display: flex;
        justify-content: center;
        align-items: center;
    
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 168px;
        height: 155px;
        background-color: #5e42b0;
    }
    
    .card-number::after {
        content: "";
    
        width: 26px;
        height: 5px;
        border-radius: 1px;
        background-color: #ffffff;
        position: absolute;
        top: 92px;
    }

    .find-contact {
        flex-direction: row-reverse;

    }

    .be-active-card, .work-it-card {
        padding: 0 0 0 125px;
    }
    
    .find-contact-card {
        padding: 0 125px 0 0;
        box-sizing: border-box;

        padding-left: 30px;
    }

    h3 {
        margin-top: 260px;
        margin-bottom: 105px;
    }
    
    .be-active-text, .find-contact-text, .work-it-text {
        margin-bottom: 216px;
    }


}



.footer {
    min-height: 567px;
    padding: 0 20px;
    position: relative;
    background-image: url("../img/game_767.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
}

.footer::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #0a0e34;
    opacity: 0.9;
}

.footer-leader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    fill: #ffffff;

    position: relative;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
        
    width: 73px;
    height: 73px;
    border-radius: 17px;
    background-color: #5e42b0;
}

.footer-short-logo {
    width: 58px;
    height: 58px;
}

.footer-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 58px;

    position: relative;
    z-index: 2;
}

.footer-first-line {
    font-size: 30px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase; 
}

.footer-second-line {
    font-size: 12px;
    letter-spacing: 1px;
    color: #9b8ec1;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-store-links {
    margin: 75px auto 82px;
}

.footer-full-logo {
    position: relative;
    z-index: 2;

    display: block;
    block-size: border-box;
    text-align: center;
}

.footer-logo-text {
    width: 136px;
    height: 38px;
    margin-bottom: 82px;
}

@media (min-width: 641px) {
    .footer {
        background-image: url(../img/game_1280.jpg);
        min-height: 960px;
    }

    .footer-logo {
        margin-top: 124px;
        width: 130px;
        height: 130px;
    }

    .footer-short-logo {
        width: 105px;
        height: 84px;
    }

    .footer-title {
        margin-top: 80px;
    }

    .footer-first-line {
        font-size: 80px;
        letter-spacing: 4px;
        line-height: 60px;
    }

    .footer-second-line {
        font-size: 36px;
        line-height: 60px;
        color: #a496ca;
        margin-bottom: 285px;
    }

    .footer-store-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 56px;
        margin-top: 0;
    }

    .apple-store, .google-store {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        width: 311px;
        height: 77px;
        border-radius: 38px;
        filter: drop-shadow(8px 13.856px 12px #0a0e34);
        background-color: #5e42b0;
    }

    .google-store {
        margin-top: 0;
        margin-left: 30px;
    }

    .apple-icon, .google-icon {
        width: 50px;
        height: 50px;
        align-items: center;
    }

    .apple-link-title, .google-link-title {
        margin-left: 25px;   
    }

    .apple-link-title-download, .google-link-title-get  {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: 300;
    }
    
    .apple-link-title-store, .google-link-title-play {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px;
    }

    .footer-logo-text {
        width: 205px;
        height: 58px;
        margin-bottom: 20px;
    }
}

@media (min-width: 641px) and (max-width: 751px) {
    .footer-first-line {
        font-size: 60px;
        letter-spacing: 4px;
        line-height: 60px;    
    }
    
    .footer-second-line {
        font-size: 26px;
        line-height: 60px;
        color: #a496ca;
    }
}

@media (min-width: 961px) {
    .footer {
        background-image: url(../img/game_1920.jpg);
    }

    .footer-leader {
        display: flex;
        flex-direction: row;  
        height: 140px;    
        padding-top: 225px;
        justify-content: center;      
    }

    .footer-logo {
        width: 132px;
        height: 137px;
        margin: 0;
    }

    .footer-short-logo {
        height: 85px;
        width: 102px;
    }

    .footer-title {
        margin-left: 40px;
        margin-top: 0;
        margin-bottom: 0;
        align-items: flex-start;
        justify-content: center;
    }

    .footer-first-line {
        font-size: 80px;
        letter-spacing: 2px;
        line-height: 60px;
    }

    .footer-second-line {
        margin-bottom: 0;
        margin-top: 20px;
        font-size: 30px;
        line-height: 34px;
    }

    .footer-store-links {
        margin: 152px auto 260px;
    }

    .apple-link-title-download, .google-link-title-get  {
        font-weight: 400;
    }
}